.login {
  background-repeat: no-repeat;
  background-size: cover;
}

.login-modal .ant-modal-content{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/login-bg.png");
}

.login-modal .ant-modal-header{
  background-color: transparent;
}
